* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkest: #463f3a;
  --dark: #8a817c;
  --medium: #bcb8b1;
  --light: #f4f3ee;
  --pink: #e0afa0;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--medium);
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.header {
  grid-area: header;
  height: 20vh;
  width: 80%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.25rem;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--pink);
  border: solid var(--light);
  animation: fadeIn 2s;
  color: var(--darkest);
}

.button:hover {
  cursor: pointer;
  /* background-color: #e9baac; */
}

.button:active {
  border: inset #e1dfd2 2px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  background-color: var(--light);
  width: 480px;
  text-align: center;
  padding: 35px;
  font-size: 1.5rem;
  border-radius: 20px;
  animation: fadeIn 2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container p {
  animation: fadeIn 2s;
  color: var(--darkest);
}

.random-img {
  border-radius: 20px;
  animation: fadeIn 2s;
}

.image-and-calendar {
  height: 420px;
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s;
}

.content-container {
  display: flex;
  width: 800px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.calendar {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  animation: fadeIn 2s;
  color: var(--darkest);
}

.left,
.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  width: 58%;
  background-color: var(--light);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right {
  width: 42%;
  background-color: var(--darkest);
  color: var(--light);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#date {
  font-size: 100px;
}

#clock-container {
  height: 200px;
  width: 800px;
  border-radius: 20px;
  background-image: url("desert-image.jpg");
  background-size: cover;
  background-position: 20% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s;
  margin-bottom: 40px;
}

#clock {
  display: flex;
  font-size: 120px;
  font-family: "Inconsolata", monospace;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  width: 800px;
  height: 100%;
  background-color: rgba(100, 93, 93, 0.35);
  -webkit-backdrop-filter: blur(2px);
  animation: fadeIn 2s;
}

/* Weather Styling */

#weather-container {
  font-family: "Noto Sans", sans-serif;
  height: 200px;
  width: 800px;
  border-radius: 20px;
  background-image: url("weather.jpg");
  background-size: cover;
  background-position: 20% 52%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s;
}

#city {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #463f3a;
  background-color: rgba(222, 233, 255, 0.448);
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.weather-container,
.forecast-container {
  background-color: rgba(222, 233, 255, 0.448);
  padding: 0 10px;
  width: 300px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currently h2,
.tomorrow h2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}

.currently div,
.tomorrow div {
  font-size: 2rem;
}
